<header class="section sec1 header active" id="home">
  <div class="header-content">
    <div class="left-header">
      <div class="h-shape">
        <div class="image">
          <img class="photo-face" src="./images/me.png" alt="photo" />
        </div>
      </div>
    </div>
    <div class="right-header">
      <h1 class="name">
        Hi, I'm
        <span>Yevhen Berestian</span>
        A Front-end Developer.
      </h1>
      <p>
        I am looking for a full-time position in a company that's aimed at
        making both everyday life and business easier, more productive, and
        user-friendly. I have sound knowledge of HTML, CSS, JavaScript, and
        React. Something about me: responsible, goal-oriented, sociable, and
        capable of learning. I like codding. I'm interested in learning new
        technologies in web development. I'm searching company where I can grow.
        My life interests: family, coding, bicycle, snowboarding, swimming,
        running, cars, and traveling.
      </p>
      <div class="btn-container">
        <a href="#" class="main-btn">
          <span class="btn-text">Download CV</span>
          <span class="btn-icon"><i class="fa-solid fa-download"></i></span>
        </a>
      </div>
    </div>
  </div>
</header>
