<header class="section sec1 header active" id="home">
  <div class="header-content">
    <div class="left-header">
      <div class="h-shape">
        <div class="image">
          <img class="photo-face" src="./images/me.png" alt="photo" />
        </div>
      </div>
    </div>
    <div class="right-header">
      <h1 class="name">
        Hi, I'm
        <span>Yevhen Berestian</span>
        A Front-end Developer.
      </h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam illum
        quo incidunt ut tenetur doloribus ad, repellat id porro quibusdam.
      </p>
      <div class="btn-container">
        <a href="#" class="main-btn">
          <span class="btn-text">Download CV</span>
          <span class="btn-icon"><i class="fa-solid fa-download"></i></span>
        </a>
      </div>
    </div>
  </div>
</header>
