@media screen and (min-width: 320px) and (max-width: 767px) {
  .about {
    padding: 10px;
  }

  .main-title h2 .bg-text {
    top: 30%;
    left: 15%;
  }

  .image {
    display: none;
  }

  header {
    padding: 0;
    overflow: scroll;
  }
  .header-content .right-header {
    padding-right: 0;
  }

  .btn-container {
    padding-bottom: 20px;
  }

  .about-container {
    display: inline-block;

    .right-about {
      display: block;
    }
    .about-item {
      margin-bottom: 15px;
    }
  }

  .timeline {
    display: inline-block;
    margin-left: 25px;

    .timeline-item {
      margin-bottom: 15px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  header {
    padding: 0;
    overflow: scroll;
  }

  .header-content .right-header {
    padding-right: 0;
  }

  .header-content .left-header .image {
    margin-left: 1rem;
    width: 85%;
  }

  .header-content .left-header .h-shape {
    width: 100%;
  }

  .btn-container {
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 1024px) {
  header {
    padding: 0;
    overflow: scroll;
  }

  .header-content .right-header {
    padding-right: 0;
  }
}
