//  @media screen and (min-width: 480px) {
//       max-width: 480px;
//       margin: 0 auto;
//     }

//     @media screen and (min-width: 768px) {
//       max-width: 734px;
//     }

//     @media screen and (min-width: 1024px) {
//       max-width: 1320px;
//     }

@media screen and (min-width: 320px) and (max-width: 767px) {
  header {
    padding: 0;
    overflow: scroll;
  }
  .header-content .right-header {
    padding-right: 0;
    // padding: 2rem !important;
  }
  .header-content .left-header .h-shape {
    padding: 10px 0;
  }
}
